<div>
  <h3>マイページ</h3>
    <table class="table">
      <tbody>
        <tr>
          <td><%= @customer.name %></td>
          <td><%= @customer.nickname %></td>
          <td><%= @customer.telephone_number %></td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

    <% @posts.each do |post| %>
    <%= post.title %>
    <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
    <% end %>

    <% @events.each do |event| %>
    <%= event.title %>
    <p><%= link_to "#{event.event_comments.count} コメント", event_path(event.id) %></p>
    <% end %>

    <% @customer.favorite_posts.each do | post| %>
      <p>----<%= post.title %>----</p>
    <% end %>
    <% @customer.favorite_events.each do | event| %>
      <p>----<%= event.title %>----</p>
    <% end %>
