<div>
  <h3>マイページ</h3>
    <table class="table">
      <tbody>
        <tr>
          <td><%= @customer.name %></td>
          <td><%= @customer.nickname %></td>
          <td><%= @customer.telephone_number %></td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

    <% @posts.each do |post| %>
    <%= post.title %>
    <% end %>
    
    <% @events.each do |event| %>
    <%= event.title %>
    <% end %>