<div>
  <p><%= @event.title %></p>
  <p><%= @event.body %></p>
  <%= image_tag @event.get_image %>
  <p>投稿者：<%= @event.customer.name %></p>
  <p>投稿日：<%= @event.created_at.strftime('%Y/%m/%d') %></p>
  <% if @event.customer == current_customer %>
    <%= link_to "削除", event_path(@event), method: :delete %>
  <% end %>
</div>
<div>
  <p>コメント件数：<%= @event.event_comments.count %></p>
  <% @event.event_comments.each do |event_comment| %>
    <%= event_comment.customer.name %>
    <%= event_comment.created_at.strftime('%Y/%m/%d') %><%= event_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@event, @event_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>