<h1>投稿編集</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit '再投稿' %>

<% end %>

<%= link_to "詳細", post_path(@post.id) %>
<%= link_to "戻る", posts_path %>