<div>
  <p><%= @jitikai.title %></p>
  <p><%= @jitikai.body %></p>
  <%= image_tag @jitikai.get_image %>
  <p>投稿者：<%= @jitikai.customer.name %></p>
  <p>投稿日：<%= @jitikai.created_at.strftime('%Y/%m/%d') %></p>
  <% if @jitikai.customer == current_customer %>
    <%= link_to "削除", jitikai_path(@jitikai), method: :delete %>
  <% end %>
</div>