<div>
  <p><%= @jitikai.title %></p>
  <p><%= @jitikai.body %></p>
  <% if @jitikai.image.attached? %>
  <%= image_tag @jitikai.get_image %>
  <% end %>
  <% if @jitikai.customer.present? %>
  <p>投稿者：<%= @jitikai.customer.nickname %></p>
  <% else %>
  <p>投稿者：<%= @jitikai.admin.name %></p>
  <% end %>
  <p>投稿日：<%= @jitikai.created_at.strftime('%Y/%m/%d') %></p>
  <% if !current_customer.guest? %>
  <div id="favorite-<%= @jitikai.id %>">
  <%= render 'public/jitikais/favorite', jitikai: @jitikai %>
  </div>
  <% end %>
</div>