<div class= 'container mt-5'>
  <div class="col-md-10 mx-auto mt-5">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 headline">
        <h4>会員一覧</h4>
      </div>
    </div>

    <table class ="table table-bordered border-dark table-hover align-middle custom-table">
      <thead class="bg-secondary">
        <tr align="center">
          <th scope="col" style="width: 30%">氏名</th>
          <th scope="col" style="width: 30%">ニックネーム</th>
          <th scope="col" style="width: 40%">メールアドレス</th>
          </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer|%>
        <tr align="center">
        <td>
          <%= link_to customer_path(customer.id), class:"admin_link text-dark border-bottom" do  %>
          <%= customer.name %>
          <% end %>
        </td>
        <td><%= customer.nickname %></td>
        <td><%= customer.email %></td>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @customers %>
    </div>
  </div>
</div>