<div>
  <p><%= @dust.title %></p>
  <p><%= @dust.body %></p>
  <%= image_tag @dust.get_image %>
  <p>投稿者：<%= @dust.customer.name %></p>
  <p>投稿日：<%= @dust.created_at.strftime('%Y/%m/%d') %></p>
  <% if @dust.customer == current_customer %>
    <%= link_to "削除", dust_path(@dust), method: :delete %>
  <% end %>
</div>