<% @posts.each do |post| %>
  <% if admin_signed_in? %>
    <%= link_to "管理者用削除", admin_post_path(post.id), method: :delete %>
  <% end %>
  <div>
    <%= link_to admin_post_path(post.id) do %>
      <%= post.title %>
    <% end %>
    <p>投稿者：<%= post.admin.present? ? post.admin.name : post.customer.nickname %></p>
    <p><%= link_to "#{post.post_comments.count} コメント", admin_post_path(post.id) %></p>
  </div>
<% end %>