<div>
  <p><%= @post.title %></p>
  <p><%= @post.body %></p>
  <% if @post.image.attached? %>
    <%= image_tag @post.get_image %>
  <% end %>
  <% if @post.customer.present? %>
  <p>投稿者：<%= @post.customer.nickname %></p>
  <% else %>
  <p>投稿者：<%= @post.admin.name %></p>
  <% end %>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.admin == current_admin %>
    <td><%= link_to "編集", edit_admin_post_path(@post.id) %></td>
    <td><%= link_to "削除", admin_post_path(@post), method: :delete %></td>
  <% end %>
  <div id="favorite-<%= @post.id %>">
  <%= render 'admin/posts/favorite', post: @post %>
  </div>
</div>
<div id="comment_count-<%= @post.id %>">
  <%= render 'admin/posts/comment_count', post: @post %>
</div>
<div id="comment-<%= @post.id %>">
  <%= render 'admin/posts/comment', post: @post, post_comment: @post_comment %>
</div>