<!DOCTYPE html>
<html>
  <head>
    <title>JitikaiKeijiban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
      <% unless controller_name == 'posts' && action_name == "new" %>
      　<li>
          <%= link_to "掲示板に投稿", new_post_path %>
        </li>
      <% end %>
      <% unless controller_name == 'events' && action_name == "new" %>
      　<li>
          <%= link_to "イベントに投稿", new_event_path %>
        </li>
      <% end %>
      <% unless controller_name == 'customers' && action_name == "show" %>
        <li>
        <%= link_to 'マイページ', customer_path(current_customer.id) %>
        </li>
      <% end %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
